/*
* SPDX-FileCopyrightText: © 2024 Josef Hahn
* SPDX-License-Identifier: AGPL-3.0-only
*/


.klovve_interact_box {
    background: #69b2fb;
    border: 10pt solid #69b2fb;
}

.klovve_header {
    font-size: 1.5rem;
}

.klovve_form_section {
    margin: 1em;
}

.headered_title_successful {
    color: green;
}

.headered_title_successful_with_warning {
    color: yellow;
}

.headered_title_failed {
    color: red;
}

.headered_state_box{
    margin-right: 3pt;
}
