body {
    background-color: lightgrey;
}
.holder {
    background-color: white;
    align-items: center;
    max-width: 800pt;
    margin: auto;
    padding: 50pt;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 1rem 0rem 1rem 0rem;
}
h1 {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 300%;
}
h2 {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 200%;
}
h3 {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 150%;
}
h4 {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    font-style: bold;
}
img {
    display: block;
    max-width: 80%;
    max-height: 300pt;
    margin-left: auto;
    margin-right: auto;
    margin: 2rem 0rem 2rem 0rem;
}
table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
table td, table th {
    border: 1px solid #FFFFFF;
    padding: 5px 3px;
}
table tbody td {
    font-size: 15px;
}
table td:nth-child(even) {
    background: #EBEBEB;
}
table thead {
    background: #333333;
}
table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
table tfoot td {
    font-size: 14px;
}
p.generated-on {
    font-size: .75rem;
    color: white;
}
div.generated-on-banner {
    background-color: #333333;
}