#directory-tree {
    height: 100%;
}

.top-content {
    display: flex;
    gap: 20px;
    flex: 1;
    max-height: 30%; /* Limit height for more space to file content */
}


/* Bottom Content: files-container */
.bottom-content {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    min-height: 70%;
}

/* Left Panel */
.left-panel {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
}

.left-panel ul {
    list-style-type: none;
    padding-left: 20px;
}

.left-panel li {
    margin: 5px 0;
}

.left-panel input[type="checkbox"] {
    margin-right: 5px;
}

/* Right Panel */
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    
}

/* User Input Section */
.user-input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#api-key-input, #llm-provider-dropdown, #llm-model-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#llm-provider-dropdown {
    margin-left: 10px;
}

/* Message Section */
#message-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    flex: 0 0 auto;
}

#message-form {
    display: flex;
    flex-direction: column;
}

#message-input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    resize: vertical;
    min-height: 100px;
    margin-bottom: 10px;
}
/* Explanation Section */
.collapsible-explanation {
    margin-bottom: 20px;
}

#explanation-content {
    padding: 10px;
    background-color: #f9f9f9;
}

#explanation-text {
    white-space: pre-wrap;
}

/* Files Container */
#files-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

#created-files, #file-pairs {
    flex: 1;
}

/* Responsive Layout */
@media (max-width: 1024px) {
    #created-files .file-block,
    .file-pair .file-block {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    #created-files .file-block,
    .file-pair .file-block {
        flex: 1 1 100%;
        max-width: 100%;
    }
}