name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1
        with:
          enable-cache: false

      - name: Build wheels
        uses: pypa/cibuildwheel@95d2f3a92fbf80abe066b09418bbf128a8923df2 # v3.0.1

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_abi3_wheels:
    name: Build abi3 wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1
        with:
          enable-cache: false

      - name: Build wheels
        uses: pypa/cibuildwheel@95d2f3a92fbf80abe066b09418bbf128a8923df2 # v3.0.1
        env:
          CIBW_BUILD: cp39-*
          CIBW_CONFIG_SETTINGS: build-args="--features abi3"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cibw-abi3-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    name: Build sdist
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Build sdist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: cibw-sdist
        path: dist/*.tar.gz
  
  publish:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: [build_wheels, build_abi3_wheels, build_sdist]
    environment: pypi
    permissions:
      id-token: write # https://docs.pypi.org/trusted-publishers/using-a-publisher/#github-actions
      contents: write # Required for creating a release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0 # Required for changelog
        persist-credentials: false

    - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true
    
    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        skip-existing: true

    - name: Generate a changelog
      shell: bash
      run: >-
        pipx run git-cliff --config .github/cliff-template.toml
        --github-repo "${GH_REPO}"
        --github-token "${GH_TOKEN}"
        --latest --output "CHANGELOG.md"
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}


    - name: Create Release
      shell: bash
      run: gh release create "${GH_REF_NAME}" -F "CHANGELOG.md" --fail-on-no-commits
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REF_NAME: ${{ github.ref_name }}
