[project]
name = "transfx"
version = "0.0.1"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []
authors = [
  { name="weisiren", email="cxyvsir04@gmail.com" },
]
description = "transFX is a Python package"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/transFX_math_package", "src/transFX_welcom_package"]

[tool.hatch.build.targets.sdist]
include = [
    "/src",
    "/tests",
    "/README.md",
    "/LICENSE",
]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Education",
    "Topic :: Scientific/Engineering :: Mathematics",
]

[project.urls]
Homepage = "https://github.com/weisiren000/transFX" # 你的项目主页
"Bug Tracker" = "https://github.com/weisiren000/transFX/issues"