[project]
name = "soogo"
version = "1.2.1"
description = "Surrogate-based 0-th Order Global Optimization for black-box problems"
authors = [
    { name = "Weslley da Silva Pereira", email = "weslley.dasilvapereira@nrel.gov" },
]
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: GNU General Public License (GPL)",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = [
    "optimization",
    "surrogate",
    "black-box",
    "gradient-free",
]
requires-python = ">=3.9"
dependencies = [
    "numpy",
    "scipy",
    "pymoo",
    "scikit-learn",
]

[project.license]
file = "LICENSE"

[project.urls]
Homepage = "https://github.com/NREL/soogo"
Docs = "https://nrel.github.io/soogo"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
test = [
    "pytest",
]
lint = [
    "ruff",
]
doc = [
    "sphinx",
    "sphinx-rtd-theme",
    "sphinx-autodoc-typehints",
]
example = [
    "jupyter",
    "matplotlib",
]

[tool.pdm.build]
includes = [
    "soogo/*.py",
]
source-includes = [
    "tests/test_*.py",
    "**/__init__.py",
    "tests/gosac_benchmark.py",
]
source-excludes = [
    "tests/**",
]

[tool.ruff]
line-length = 79

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "W",
]
ignore = []

[tool.ruff.lint.pycodestyle]
max-doc-length = 80

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 60
