[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "otlmow_visuals"
version = "0.11"
authors = [{name = "David Vlaminck", email = "david.vlaminck@mow.vlaanderen.be"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Natural Language :: Dutch",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",

]
requires-python = ">=3.8"
dependencies = [
    'pyvis >= 0.3.2',
    'otlmow_model >= 2.9.5.0',
]

[tool.setuptools.packages.find]
include = ["otlmow_visuals*"]

[project.urls]
"Homepage" = "https://github.com/davidvlaminck/OTLMOW-Visuals"
"Bug Tracker" = "https://github.com/davidvlaminck/OTLMOW-Visuals/issues"
