// First, import variables to be used for redefinition.
// SCSS variables (unlike CSS variables) are imperative, and are all
// defined with `default` which means that the variable file can be
// imported multiple times and only the definition without `default`
// will be kept
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

// Redefine variables

$enable-negative-margins: true;

// Customize breadcrumbs
$breadcrumb-border-radius: 6px;
$breadcrumb-padding-x: 15px;
$breadcrumb-padding-y: 8px;
$breadcrumb-bg: $light;

$accordion-button-active-bg: $light;
$accordion-button-active-color: black;
$accordion-button-focus-box-shadow: black;

.breadcrumb-item > a:hover{
    text-decoration: underline;
}

// remove double border when table inside of card
.card > .table:last-child {
    tr:last-child {
        th, td {
            border-style: none;
        }
    }
    margin-bottom: 0;
}

.nav-tabs {
    margin-bottom: 1rem !important;
}

.col-form-label,
.form-label,
.card-title {
    font-weight: 500;
}

@import "../../../../node_modules/bootstrap/scss/bootstrap";

a {
    text-decoration: none;
}
