[DEFAULT]
Speed = SuperFast
SearchMode = MRM
ParallelProcessNumber = 8
InternalStandardType = heavy
MaxTimeStep = 5
PolicyPath = None
Device = auto

[MCTSParam]
MaxStep = 5
EvalMode = 'policy'
Alpha = 0.4
Beta = 0.25
K = 2**0.5

[SearchParam.MRM]
UseWeightedPBAR      = 1
Threshold            = [  100,    8,    6,    4,    2,    1, 0.0125]
SelectionNoise       = [  0.1,  0.3,  0.5,  1.0, -1.0, -1.0,   -1.0]
PBARHeavyWeight      = [ 0.67, 0.67, 0.67, 0.67,  1.0,  1.0,    1.0]
PairRatioFactor      = [  0.5,  0.5,  0.5,  0.5,  0.2,  0.2,    0.2]
TopNIon              = [    1,    1,    1,    1,    3,    3,      3]
IntensityPower       = [    1,    1,    1,    1,    6,    8,      8]
QualityPower         = [    2,    2,    2,    2,    2,    1,      1]
UseConsensus         = [    0,    0,    0,    1,    1,    1,      0]
ConsensusThresholds  = [    0,    0,    0,    4,    2,  0.1,    0.1]
UseRefIfNoConsensus  = [    0,    0,    0,    0,    1,    1,      1]
Overwrite            = [    0,    0,    0,    1,    1,    1,      0]


[SearchParam.PRM]
UseWeightedPBAR      = 0
Threshold            = [  100,    8,    6,    4,    3,    2,      1]
SelectionNoise       = [  0.1,  0.3,  0.5,  1.0, -1.0, -1.0,   -1.0]
PBARHeavyWeight      = [ 0.67, 0.67, 0.67, 0.67,  1.0,  1.0,    1.0]
PairRatioFactor      = [  0.5,  0.5,  0.5,  0.5,  0.2,  0.2,    0.2]
TopNIon              = [    1,    1,    1,    1,    3,    3,      3]
IntensityPower       = [    1,    1,    1,    1,    4,    6,      6]
QualityPower         = [    2,    2,    2,    2,    2,    2,      2]
UseConsensus         = [    0,    0,    0,    1,    1,    1,      1]
ConsensusThresholds  = [    0,    0,    0,    2,    1,    0,      0]
UseRefIfNoConsensus  = [    0,    0,    0,    0,    1,    1,      1]
Overwrite            = [    0,    0,    0,    1,    1,    1,      0]


# Speed settings for MCTS cycles, You can increase search rounds by adding more cycle numbers in the list.
# Or, create a new set of the speed settings with a custom name.

# 95% reduction of MCTS cycles
[Speed.UltraFast]
MCTSCycle       = [15, 25, 50, 50, 50, 50, 50]

# 90% reduction of MCTS cycles
[Speed.SuperFast]
MCTSCycle       = [30, 50, 100, 100, 100, 100, 100]

# 80% reduciton of MCTS cycles
[Speed.Faster]
MCTSCycle       = [60, 100, 200, 200, 200, 200, 200]

# 50% reduciton of MCTS cycles
[Speed.Fast]
MCTSCycle       = [150, 250, 500, 500, 500, 500, 500]

# 0% reduction of MCTS cycles
[Speed.Standard]
MCTSCycle       = [300, 500, 1000, 1000, 1000, 1000, 1000]